<div class="col-lg-2 my-3 side-bar border border-dark rounded">
  <%= render 'layouts/sidebar' %>
</div>

<div class="col-lg-5">
  <h2><i class="fas fa-bicycle"></i> <%= title %></h2>
  <table class="table">
    <tbody>
      <% roads.each do |road| %>
      <tr>
      <% if road.image.attached? %>
        <td><%= image_tag road.image.variant(combine_options:{gravity: :center, resize:"300x200^", crop:"300x200+0+0"}), class:"rounded" %></td>
      <% else %>
        <td></td>
      <% end %>
        <td>
          <h3>
            <%= link_to road.name, road_path(road), class:"title",  data: {"turbolinks" => false} %>
          </h3>
          <p><%= road.introduction %></p>
          <p class="road-info"><i class="fas fa-road"></i><%= road.distance %>km <i class="fas fa-mountain ml-3"></i><%= road.elevation_gain %>m <i class="fas fa-gamepad ml-3"></i> <%= road.difficulty_i18n %></p>
          <p><span class="favorite-btn-<%= road.id %>"><%= render 'public/roads/favorites', road: road %></span><span class="ml-3 area"><%= road.area_i18n %></span></p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-lg-5">
  <h2><i class="fas fa-flag"></i> Start Points</h2>
  <div id='road_map'></div>

  <style>
  #road_map {
    height: 650px;
    width: 600px;
  }
  </style>

  <script>
  let road_map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    road_map = new google.maps.Map(document.getElementById('road_map'), {
      center: {lat: <%= roads.first.start_latitude %>, lng: <%= roads.first.start_longitude %> },
      zoom: 10,
    });

    <% roads.each do |road| %>
    road_marker = new google.maps.Marker({
      position:  {lat: <%= road.start_latitude %> , lng: <%= road.start_longitude %>},
      map: road_map
    });

    infowindow = new google.maps.InfoWindow({
      content: '<%= link_to road.name, road_path(road), data: {"turbolinks" => false} %>'
    });
    infowindow.open(road_map, road_marker);
    <% end %>
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
</div>