<div class="row">
  <div class="col-11 col-lg-2 m-4 side-bar border border-dark rounded p-2">
    <%= render partial: 'layouts/sidebar', locals: { roads: @roads }  %>
  </div>
  <div class="road-lists col-lg-5 ml-2 pt-3">
  <table class="col-11 col-md-6 table table-secondary table-sm table-bordered text-center">
    <tr>
      <td><%= link_to "更新順", sort_path(sort: "latest"), data: {"turbolinks" => false} %></td>
      <td><%= link_to "いいね順", sort_path(sort: "favorite"), data: {"turbolinks" => false} %></td>
      <td><%= link_to "閲覧数順", sort_path(sort: "views"), data: {"turbolinks" => false} %></td>
    </tr>
  </table>
    <%= render partial: 'shared/roads/roads', locals: { roads: @roads, title: 'Cycling Roads'} %>
  </div>

  <div class="road-map col-lg-4 pt-3">
    <%= render partial: 'shared/roads/map', locals: { roads: @roads } %>
  </div>
</div>