<div class="row">
  <%= render 'layouts/error_messages', model: @comment %>
</div>

<div class="row my-3">
  <div class="col-11 col-lg-2 m-2">
    <%= render partial: 'layouts/sidebar', locals: { roads: @messages } %>
  </div>

    <div class="col-lg-5">
      <h2 class="font-weight-bold">
        <i class="fas fa-bicycle"></i> <%= @road.name %>
        <div class="favorite-btn-<%= @road.id %>">
          <%= render 'public/roads/favorites', road: @road %>
        </div>
      </h2>
      <% if @road.image.attached? %>
        <%= image_tag @road.image.variant(
          combine_options:{gravity: :center, resize:"250x200^", crop:"250x200+0+0"}
        ), class:"rounded w-100" %>
      <% end %>
      <p class><%= @road.introduction %></p>
      <p class="road-info">
        <i class="fas fa-road"></i> 総距離：<%= @road.distance %>km
      </p>
      <p class="road-info">
        <i class="fas fa-mountain"></i>獲得標高：<%= @road.elevation_gain %>m
      </p>
      <p class="road-info">
        <i class="fas fa-gamepad"></i> 難易度：<%= @road.difficulty_i18n %>
      </p>
      <p>
        <% if user_signed_in? && current_user.id == @road.user_id %>
          <%= link_to "チェックポイントを登録", new_road_check_point_path(@road), class:"btn btn-primary" %>
          <% if current_user.id == @road.user_id %>
            <%= link_to "編集する", edit_road_path(@road), class:"ml-3 btn btn-success" %>
          <% end %>
        <% end %>
      </p>
  </div>

  <div class="col-lg-4 mt-sm-3 mt-md-0">
    <h2 class="mb-5"><i class="fas fa-map"></i> Road Map</h2>
    <div id='point_map'></div>
   <style>
      #point_map {
        height: 500px;
        width: 100%;
      }
   </style>

  <script>
    let point_map

    // グーグルマップを表示
    function initMap() {
      const directionsRenderer = new google.maps.DirectionsRenderer();
      const directionsService = new google.maps.DirectionsService();
      const point_map = new google.maps.Map(document.getElementById("point_map"), {
        zoom: 12,
        center: { lat: <%= @road.start_latitude %>, lng: <%= @road.start_longitude %> },
      });
      directionsRenderer.setMap(point_map);
      calculateAndDisplayRoute(directionsService, directionsRenderer);
      document.getElementById("point_map").addEventListener("change", () => {
        calculateAndDisplayRoute(directionsService, directionsRenderer);
      });
      <% @road.check_points.each do |point| %>
        point_marker = new google.maps.Marker({
          position:  {lat: <%= point.latitude %> , lng: <%= point.longitude %>},
          map: point_map
        });

        infowindow = new google.maps.InfoWindow({
          content: '<%= link_to point.name, road_check_point_path(@road, point) %>'
        });
        infowindow.open(point_map, point_marker);
      <% end %>
    }

    // グーグルマップの経路を表示
    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
      // 経由地の表示
      const waypts = [
        <% @road.waypoints.order(:point_no).each do |waypoint| %>
          { location: new google.maps.LatLng(<%= waypoint.latitude %>, <%= waypoint.longitude %>) },
        <% end %>
        ];

      directionsService
        .route({
          origin: { lat: <%= @road.start_latitude %>, lng:<%= @road.start_longitude %> },  //スタート地点
          destination: { lat: <%= @road.goal_latitude %>, lng:<%= @road.goal_longitude %> },  //ゴール地点
          waypoints: waypts,  //経由地
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode.BICYCLING,  //自転車でルート検索
        })
        .then((response) => {
          directionsRenderer.setDirections(response);
        })
        .catch((e) => window.alert("Directions request failed due to " + status));
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
  </div>
</div>


<div class="offset-lg-2 road-comment">
  <%= render partial:'public/roads/comment', locals: { model: @road, comment: @comment } %>
</div>

<div class="row offset-lg-2">
  <h2><i class="fas fa-monument"></i> Check Points</h2>
  <table class="table-light table-bordered text-center col-md-6 pl-3">
    <tr>
      <td>
        <%= link_to "全て表示(#{ @road.check_points.count} )",
          sort_check_point_path(category: "all"), class:"pr-2", remote: true %>
      </td>
      <td>
        <%= link_to "注意箇所！(#{ @road.check_points.where(category: "cautionary").count })",
          sort_check_point_path(category: "cautionary"), class:"pr-2", remote: true %>
      </td>
      <td>
        <%= link_to "景色がいい！(#{ @road.check_points.where(category: "scenic").count })",
          sort_check_point_path(category: "scenic"), class:"pr-2", remote: true%>
      </td>
      <td>
        <%= link_to "休憩できる！(#{ @road.check_points.where(category: "restful").count })",
          sort_check_point_path(category: "restful"), remote: true%>
      </td>
    </tr>
  </table>
</div>

<div class="road-points row offset-lg-2 p-3">
  <%= render 'public/roads/point', road:@road, model: @road.check_points.page(params[:page]).per(6) %>
</div>


