<div>
  <% if user_signed_in? && !current_user.has_already_comment?(model) %>
    <%= form_with model: comment, url: road_check_point_check_point_comments_path(model.road, model), method: :post, remote: true do |f| %>
      <p><%= f.text_field :body, size:30 %></p>
      <p><%= f.submit "コメントする", class:"btn btn-info" %></p>
    <% end %>
  <% end %>
</div>

<p>■コメント一覧(<%= model.comments.count %>)</p>
<table class="table">
<th>
  <% model.comments.each do |comment| %>
  <td>
    <%= comment.body %>(<%= comment.user.nick_name %>さん)
    <% if user_signed_in? && comment.user_id == current_user.id %>
     <%= link_to "削除する", road_check_point_check_point_comment_path(model.road, model, comment), method: :delete, remote: true, class:"btn btn-danger ml-3" %>
    <% end %>
  </td>
  <% end %>
</th>
</table>