<div class="row my-3">
  <div class="col">
    <h3><i class="fas fa-bicycle"></i> <%= link_to @road.name, road_path(@road) %>のチェックポイント</h3>
    <% if @check_point.category == "cautionary" %>
      <p>注意してほしいところ！</p>
    <% elsif @check_point.category == "scenic" %>
      <p>景色のいいところ！</p>
    <% end %>
    <h2><%= @check_point.name %></h2>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-6">
    <% if @check_point.image.attached? %>
      <%= image_tag @check_point.image.variant(resize:'500x500') %>
    <% end %>
  </div>
  <div class="col-md-6 bg-light">
    <h2>チェックポイントの位置</h2>
    <div id='point'></div>

    <style>
    #point {
      height: 500px;
      width: 500px;
    }
    </style>

    <script>
    let point

    function initMap(){
      geocoder = new google.maps.Geocoder()

      point = new google.maps.Map(document.getElementById('point'), {
        center: {lat: <%= @check_point.latitude %>, lng: <%= @check_point.longitude %> },
        zoom: 18,
      });

      point_marker = new google.maps.Marker({
        position:  {lat: <%= @check_point.latitude %> , lng: <%= @check_point.longitude %>},
        map: point
      });

      infowindow = new google.maps.InfoWindow({
        content: '<%= @check_point.name %>'
      });
      infowindow.open(point, point_marker);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
  </div>
</div>

<div class="row">
  <div class="col bg-white">
    <p><%= @check_point.introduction %></p>
    <p>
      <% if user_signed_in? && current_user.id == @check_point.user_id %>
        <%= link_to "編集する", edit_road_check_point_path(@road, @check_point), class:"btn btn-success" %>
      <% end %>
    </p>
  </div>
</div>
