<header>
  <nav class="navbar navbar-expand-md navbar-dark header-main">
    <div class="container-fluid">
      <h1 class="navbar-brand m-0">
        <%= link_to (image_tag 'logo/logo01.png', width: '120', height: '80'), roads_path, class:"navbar-brand d-block"%>
      </h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
           <% if user_signed_in? %>
           <!--User is alreadey log in-->
              <div class="nav-item welcome-text p-2 pr-4 pl-4 rounded-pill d-flex align-items-center">
                ようこそ<%= current_user.nick_name %>さん！
              </div>
              <li class="nav-item px-2 active">
                <%= link_to "MyPage", mypage_path, class:"nav-link text-center nav-link active" %>
              </li>
              <li class="nav-item px-2 active">
                <%= link_to "FAVORITE", my_favorite_road_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item px-2">
                <%= link_to "ROADS", roads_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item px-2">
                <%= link_to "LOGOUT", destroy_user_session_path, class:"nav-link text-center", method: :delete %>
              </li>

           <% elsif admin_signed_in? %>
           <!--admin is alreadey log in-->
             <div class="nav-item welcome-text p-2 pr-4 pl-4 rounded-pill d-flex align-items-center">
                管理者画面
              </div>
              <li class="nav-item pl-4 active">
                <%= link_to "USERS",  admin_users_path, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4 active">
                <%= link_to "ROADS", admin_roads_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "SOMETHING",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "LOGOUT", destroy_admin_session_path, class:"nav-link text-center", method: :delete %>
              </li>
           <% else %>
           <!--User is log out-->
              <li class="nav-item pl-4 active">
                <%= link_to "ABOUT",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "ROADS",  roads_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "SIGN UP", new_user_registration_path, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "LOGIN",  new_user_session_path, class:"nav-link text-center" %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
