<header>
  <nav class="navbar navbar-expand-md navbar-dark header-main">
    <div class="container-fluid">
      <h1 class="m-0">
          <%= link_to "Cycle Go", roads_path, class:"navbar-brand d-block" %>
      </h1>
      <div id="grobalNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
           <% if user_signed_in? %>
           <!--User is alreadey log in-->
              <div class="nav-item welcome-text p-2 pr-4 pl-4 rounded-pill d-flex align-items-center">
                ようこそ<%= current_user.nick_name %>さん！
              </div>
              <li class="nav-item pl-4 active">
                <%= link_to "MyPage", mypage_path, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4 active">
                <%= link_to "FAVORITE", my_favorite_road_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "ROADS", roads_path, data: {"turbolinks" => false}, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "LOGOUT", destroy_user_session_path, class:"nav-link text-center", method: :delete %>
              </li>

           <% elsif admin_signed_in? %>
           <!--admin is alreadey log in-->
              <li class="nav-item pl-4 active">
                <%= link_to "PRODUCTS",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4 active">
                <%= link_to "CUSTOMERS",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "ORDER",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "LOGOUT",  '#', class:"nav-link text-center", method: :delete %>
              </li>
           <% else %>
           <!--User is log out-->
              <li class="nav-item pl-4 active">
                <%= link_to "ABOUT",  '#', class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "ROADS",  roads_path, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "SIGN UP", new_user_registration_path, class:"nav-link text-center" %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to "LOGIN",  new_user_session_path, class:"nav-link text-center" %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
