<div class="row">
  <div class="col">
    　<h2><%= @road.name %>のコメント一覧</h2>
    <table class="table">
      <tbody>
        <% @road.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.nick_name %>さん</td>
          <td><%= comment.body %></td>
          <td><%= link_to "削除する", admin_road_road_comment_path(@road, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    　<h2><%= @road.name %>のチェックポイント</h2>
    <table class="table">
      <tbody>
        <% @road.check_points.each do |point| %>
        <tr>
        <% if point.image.attached? %>
          <td><%= image_tag point.image.variant(combine_options:{gravity: :center, resize:"200x200^", crop:"200x200+0+0"}), class:"rounded" %></td>
        <% else %>
          <td></td>
        <% end %>
          <td>
            <h3 class="title"><%= link_to point.name, admin_road_check_point_path(@road, point) %></h3>
            <p><%= point.introduction %></p>
          </td>
          <td>コメント <%= point.comments.count %>件</td>
          <td><%= link_to "編集する", edit_admin_road_check_point_path(@road, point), class:"btn btn-success" %></td>
          <td><%= link_to "削除する", admin_road_check_point_path(@road, point), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    　<h2><%= @road.name %>の経由地点 <%= link_to "新規登録", new_admin_road_waypoint_path(@road), class:"btn btn-info" %></h2>
    <table class="table">
      <tbody>
        <% @road.waypoints.order(:point_no).each do |waypoint| %>
        <tr>
          <td><%= waypoint.point_no %>. <%= waypoint.name %></td>
          <td><%= link_to "編集する", edit_admin_road_waypoint_path(@road, waypoint), class:"btn btn-success" %></td>
          <td><%= link_to "削除する", admin_road_waypoint_path(@road, waypoint), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>