 <div class-"row text-center pt-3">
   <div class="col-md-4 offset-md-4 p-3">
    <h2>パスワードを忘れましたか?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field pt-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions pt-3">
        <%= f.submit "メールアドレスにパスワードの変更手続きを送る", class:"btn btn-success" %>
      </div>
    <% end %>

    <%= render "public/shared/links" %>
  </div>
</div>
