<div class="row text-center">
  <div class="col-sm-4 offset-sm-4">
    <h2 class="mt-3">新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>名前</td>
            <td><%= f.label :first_name, "(姓)", class: "customer_name" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"難波", size:"10" %>
                <%= f.label :last_name, "(名)", class: "customer_name" %> <%= f.text_field :last_name, :placeholder =>"太郎", size:"10" %></td>
          </tr>

          <tr>
            <td><%= f.label :nick_name, "ニックネーム" %></td>
            <td colspan="2"><%= f.text_field :nick_name, size:"30" %></td>
          </tr>

          <tr>
            <td><%= f.label :introduction, "自己紹介" %></td>
            <td colspan="2"><%= f.text_area :introduction, size:"29x3" %></td>
          </tr>

          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td colspan="2"><%= f.email_field :email, autocomplete: "email", size:"30" %></td>
          </tr>

          <tr>
            <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
            <td colspan="2"><%= f.password_field :password, autocomplete: "new-password", size:"30"  %></td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
            <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password", size:"30"  %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success mt-2 mb-5" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-4 offset-sm-4">
    <h2>既に登録済みの方</h2>
    <p><%= link_to "こちら", new_user_session_path, class: "underline" %>からログインしてください。</p>
  </div>
</div>
