<h2><i class="fas fa-flag"></i> Start Points</h2>
<div id='road_map', class="img-responsive p-1"></div>

<style>
#road_map {
  height: 600px;
  width: 100%;
}
</style>

<script>
let road_map

// グーグルマップを表示
function initMap(){
  geocoder = new google.maps.Geocoder()

  road_map = new google.maps.Map(document.getElementById('road_map'), {
    center: {lat: <%= roads.first.start_latitude %>, lng: <%= roads.first.start_longitude %> },
    zoom: 10,
  });
  
  <% roads.each do |road| %>
  road_marker = new google.maps.Marker({
    position:  {lat: <%= road.start_latitude %> , lng: <%= road.start_longitude %>},
    map: road_map
  });

  infowindow = new google.maps.InfoWindow({
    content: '<%= link_to road.name, road_path(road), data: {"turbolinks" => false} %>'
  });
  infowindow.open(road_map, road_marker);
  <% end %>
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>