<div class="row pl-2">
  <h2>
    <i class="fas fa-bicycle"></i> <%= title %>
    <% if user_signed_in? %>
      <%= link_to "新規ロード作成", new_road_path, class:"btn btn-info ml-3" %>
    <% end %>
  </h2>
  <table class="col-11 col-md-6 table table-primary table-sm table-bordered">
    <tr>
      <td><%= link_to "更新順", sort_path(sort: "latest"), data: {"turbolinks" => false} %></td>
      <td><%= link_to "いいね順", sort_path(sort: "favorite"), data: {"turbolinks" => false} %></td>
      <td><%= link_to "閲覧数", sort_path(sort: "views"), data: {"turbolinks" => false} %></td>
    </tr>
  </table>
</div>

<% roads.each do |road| %>
<div class="row border-top border-bottom p-3">
  <div class="col-xl-5">
    <% if road.image.attached? %>
    <%= image_tag road.image.variant(combine_options:{gravity: :center, resize:"250x200^", crop:"250x200+0+0"}), class:"rounded" %>
    <% end %>
  </div>
  <div class="col-xl-7">
    <h3><%= link_to road.name, road_path(road), class:"title",  data: {"turbolinks" => false} %></h3>
    <p><%= road.introduction.truncate(45) %></p>
    <p class="road-info"><i class="fas fa-road"></i><%= road.distance %>km <i class="fas fa-mountain ml-3"></i><%= road.elevation_gain %>m <i class="fas fa-gamepad ml-3"></i> <%= road.difficulty_i18n %></p>
    <p><span class="favorite-btn-<%= road.id %>"><%= render 'public/roads/favorites', road: road %></span><span class="ml-3 area"><%= road.area_i18n %></span></p>
  </div>
</div>
<% end %>

<%= paginate roads %>

