<div class="input-group my-2">
  <div class="row">
    <p class="mr-sm-2">■ワード検索</p>
    <%= form_with url: search_path, method: :get,  local:true do |f| %>
      <%= f.text_field :word, class:"form-control js-text_field", placeholder:"キーワードで検索", size:38 %>
      <%= f.hidden_field :category, value: "road" %>
    <% end %>
  </div>
  <ul class="js-messages">
    <%= render partial: 'public/roads/search', locals: { roads: roads }  %>
  </ul>
</div>

<div class="search-area pt-3 d-none d-lg-block">
  <p>■エリア検索</p>
  <ul class="list-group text-center px-3">
    <% (0..7).each do |n| %>
    <li class="list-group-item list-group-item-light"><%= link_to Road.areas_i18n[:"#{Road.areas.keys[n]}"], search_path(word: n, category: "area"),  data: {"turbolinks" => false}  %></li>
    <% end %>
  </ul>
</div>